<!DOCTYPE html>
<html>
	<head>
		<base href="/template/" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{{title}}}</title>
		<meta itemprop="name" content="{{{title}}}" />
		<meta name="twitter:title" content="{{{title}}}" />
		<meta property="og:title" content="{{{title}}}" />

		<meta name="description" content="{{{description}}}" />
		<meta itemprop="description" content="{{{description}}}" />
		<meta name="twitter:description" content="{{{description}}}" />
		<meta property="og:description" content="{{{description}}}" />

		<meta itemprop="image" content="{{{image}}}" />
		<meta name="twitter:image:src" content="{{{image}}}" />
		<meta property="og:image" content="{{{image}}}" />

		<link rel="icon" href="img/logo.svg" type="image/svg+xml" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="libs/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"/>
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<!-- HTML -->


		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="libs/slick/slick.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>
