<div class="wrapper" id="wrapper">
	<nav class="nav">
		<ul class="nav__ul container">
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/profile"
					class="nav__a"
				>
					<span class="material-icons">person</span>
				</a>
			</li>
			<li class="nav__li">
				<a class="nav__a">
					<span
						class="material-icons"
						(click)="us.setMode(us.mode === 'white' ? 'dark' : 'white')"
						>{{us.mode ? 'light_mode': 'dark_mode'}}</span
					>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/certificates"
					class="nav__a"
				>
					<span class="material-icons">verified</span>
				</a>
			</li>
			<li class="nav__li">
				<a
					routerLinkActive="_activeLink"
					routerLink="/courses"
					class="nav__a"
				>
					<span class="material-icons">menu_book</span>
				</a>
			</li>
			<li class="nav__li" *ngIf="us.role('admin')">
				<a
					routerLinkActive="_activeLink"
					routerLink="/admin/schools"
					class="nav__a"
				>
					<span class="material-icons">school</span>
				</a>
			</li>
		</ul>
	</nav>

	<div class="main">
		<router-outlet></router-outlet>
	</div>
</div>
