<!-- <p>Придбавши цей товар, ви допомагаєте розвитку UA FPV Academy.</p> -->
<section class="product">
	<div class="container product__container">
		<div class="product__gallery">
			<img
				src="img/products/product-1/product-1.jpg"
				alt="FPV Racing Drone V2"
				class="product__main-image"
				id="mainImage"
			/>
			<div class="product__thumbs">
				<img src="img/products/product-1/product-1.jpg" alt="thumb" />
				<img src="img/products/product-1/product-2.jpg" alt="thumb" />
				<img src="img/products/product-1/product-3.jpg" alt="thumb" />
				<img src="img/products/product-1/product-4.jpg" alt="thumb" />
			</div>
		</div>

		<div class="product__info">
			<p class="product__category">
				<a href="/store">DRONES</a> / <span>FPV</span>
			</p>
			<h1 class="product__title">FPV Racing Drone V2</h1>

			<a class="product__rating" data-rating="4.3">
				<div class="product__stars">
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
					<span class="star"></span>
				</div>
				<span class="product__reviews">(129 reviews)</span>
			</a>

			<div class="product__price">
				<span class="product__new-price">$549</span>
				<span class="product__old-price">$649</span>
			</div>

			<div class="product__options">
				<div class="product__option">
					<p class="product__option-title">Color</p>
					<div class="product__colors">
						<button
							class="color active"
							style="background-color: #000"
						></button>
						<button
							class="color"
							style="background-color: #179139"
						></button>
						<button
							class="color"
							style="background-color: #d00"
						></button>
					</div>
				</div>

				<div class="product__option">
					<p class="product__option-title">Size</p>
					<div class="product__sizes">
						<button class="size">XS</button>
						<button class="size active">S</button>
						<button class="size">M</button>
						<button class="size">L</button>
					</div>
				</div>
			</div>

			<button class="product__add-btn">Додати в кошик</button>

			<div class="product__details">
				<h4>Опис</h4>
				<p>
					Потужний FPV Racing Drone V2 з камерою 4K та швидкістю до
					130 км/год. Ідеальний вибір для змагань та повсякденних
					польотів.
				</p>
			</div>
		</div>
	</div>
</section>
