<div class="documents-main-row">
	<div *ngIf="course.learning?.length">
		<div class="learn-title">
			<div class="learn-title__img">
				<span class="material-icons">school</span>
			</div>
			<h2 class="learn-title__text" translate>Course.Що ви дізнаєтесь</h2>
		</div>
		

		<div class="learn-list">
			<div *ngFor="let learn of course.learning" class="learn__wrap">
				<div class="learn__item">
					<div class="learn-block__text">
						<h3 class="learn__title">{{learn|split}}</h3>
						<div class="learn__description">{{learn|split:1}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="course.included?.length">
		<div class="learn-title">
			<div class="learn-title__img">
				<span class="material-icons">list</span>
			</div>
			<h2 class="learn-title__text" translate>Course.Цей курс включає в себе</h2>
		</div>
			<div class="include-list">
					<div *ngFor="let include of course.included" class="include__item">
						<div class="include__img">
							<span class="material-icons">check_circle</span>
						</div>
						<div class="include__text">
							<h3 class="include__title">{{include|split}}</h3>
							<div class="include__description">{{include|split:1}}</div>
						</div>
					</div>
			</div>
	</div>

	<div *ngIf="course.included?.length">
		<div class="learn-title content-main-title">
			<div class="learn-title__img">
				<span class="material-icons">assignment</span>
			</div>
			<h2 class="learn-title__text" translate>Course.Зміст курсу</h2>
		</div>
		<div>
			<div
				*ngFor="let lesson of lessons"
				(click)="selectLesson.emit(lesson._id)"
				class="content-list"
			>
				<div class="content__img">
					<span></span>
				</div>
				<div class="content-text">
					<div class="content-text__title">{{lesson.name}}</div>
					<div class="content-text__description">{{lesson.shortDescription}}</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="course.suggestedCourse">
		Перед проходженням цього курсу рекомендується спочатку пройти
		{{scs.doc(course.suggestedCourse).name}}, щоб краще ознайомитися з
		матеріалом.
	</div>
	<div *ngIf="course.requiredCourse">
		Для проходження цього курсу необхідно спочатку завершити
		{{scs.doc(course.requiredCourse).name}}, оскільки він містить важливі
		базові знання.
	</div>

	<div *ngIf="course.requirements?.length">
		<div class="learn-title">
			<div class="learn-title__img">
				<span class="material-icons">assignment_late</span>
			</div>
			<h2 class="learn-title__text" translate>Course.Вимоги до цього курсу</h2>
		</div>
		<div>
			<div *ngFor="let requirement of course.requirements" class="learn-block requirements-block">
				<div class="learn-block__img">
					<span class="material-icons">info</span>
				</div>
				<div class="learn-block__text">
					<h3 class="learn__title">{{requirement|split}}</h3>
					<div class="learn__description">{{requirement|split:1}}</div>
				</div>
			</div>
		</div>
	</div>

	<div [innerHTML]="course.description"></div>
</div>
