<div class="documents-main-row">
	<div *ngIf="course.learning?.length">
		<h2 class="learn__main-title" translate>Course.Що ви дізнаєтесь</h2>

		<div>
			<div *ngFor="let learn of course.learning" class="learn-block">
				<div class="learn-block__img">
					<span class="material-icons">school</span>
				</div>
				<div class="learn-block__text">
					<h3 class="learn__title">{{learn|split}}</h3>
					<div class="learn__description">{{learn|split:1}}</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="course.included?.length">
		<h2 class="learn__main-title" translate>Course.Цей курс включає в себе</h2>

		<div>
			<div *ngFor="let include of course.included" class="learn-block">
				<div class="learn-block__img">
					<span class="material-icons">check_circle</span>
				</div>
				<div class="learn-block__text">
					<h3 class="learn__title">{{include|split}}</h3>
					<div class="learn__description">{{include|split:1}}</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="course.included?.length">
		<h2 class="learn__main-title" translate>Course.Зміст курсу</h2>

		<div>
			<div
				*ngFor="let lesson of lessons"
				(click)="selectLesson.emit(lesson._id)"
				class="learn-block"
			>
				<div class="learn-block__img">
					<span class="material-icons">assignment</span>
				</div>
				<div class="learn-block__text">
					<div class="learn__lesson-title">{{lesson.name}}</div>
					<div class="learn__lesson-description">{{lesson.shortDescription}}</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="course.suggestedCourse">
		Перед проходженням цього курсу рекомендується спочатку пройти
		{{scs.doc(course.suggestedCourse).name}}, щоб краще ознайомитися з
		матеріалом.
	</div>
	<div *ngIf="course.requiredCourse">
		Для проходження цього курсу необхідно спочатку завершити
		{{scs.doc(course.requiredCourse).name}}, оскільки він містить важливі
		базові знання.
	</div>

	<div *ngIf="course.requirements?.length">
		<h2 class="learn__main-title" translate>Course.Вимоги до цього курсу</h2>

		<div>
			<div *ngFor="let requirement of course.requirements" class="learn-block">
				<div class="learn-block__img">
					<span class="material-icons">info</span>
				</div>
				<div class="learn-block__text">
					<h3 class="learn__title">{{requirement|split}}</h3>
					<div class="learn__description">{{requirement|split:1}}</div>
				</div>
			</div>
		</div>
	</div>

	<div [innerHTML]="course.description"></div>
</div>
