<div class="documents-main-row">
	<div *ngIf="course.learning?.length">
		<h2 translate>Course.Що ви дізнаєтесь</h2>
	
		<div>
			<div *ngFor="let learn of course.learning">{{learn}}</div>
		</div>
	</div>
	
	<div *ngIf="course.included?.length">
		<h2 translate>Course.Цей курс включає в себе</h2>
	
		<div>
			<div *ngFor="let include of course.included">{{include}}</div>
		</div>
	</div>
	
	<div *ngIf="course.included?.length">
		<h2 translate>Course.Зміст курсу</h2>
	
		<div>
			<div
				*ngFor="let lesson of lessons"
				(click)="selectLesson.emit(lesson._id)"
			>
				<div>{{lesson.name}}</div>
				<div>{{lesson.shortDescription}}</div>
			</div>
		</div>
	</div>
	
	<div *ngIf="course.suggestedCourse">
		Перед проходженням цього курсу рекомендується спочатку пройти
		{{scs.doc(course.suggestedCourse).name}}, щоб краще ознайомитися з
		матеріалом.
	</div>
	<div *ngIf="course.requiredCourse">
		Для проходження цього курсу необхідно спочатку завершити
		{{scs.doc(course.requiredCourse).name}}, оскільки він містить важливі базові
		знання.
	</div>
	
	<div *ngIf="course.requirements?.length">
		<h2 translate>Course.Вимоги до цього курсу</h2>
	
		<div>
			<div *ngFor="let requirement of course.requirements">
				{{requirement}}
			</div>
		</div>
	</div>
	
	<div [innerHTML]="course.description"></div>
</div>