.learn{
    &-block{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        &__img{
            display: flex;
            flex: 0 0 45px;
            color: var(--c-primary);
            margin-right: 10px;
            span{
                font-size: 45px;
            }
        }
        &__text{
            flex: 1 0;
        }
    }
    &__main-title{
        font-size: 27px;
        font-weight: 900;
        text-transform: uppercase;
    }
    &__title{
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }
    &__lesson-title{
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }

}

@media screen and (max-width: 767px) {
    .learn__main-title{
        font-size: 24px;
        font-weight: 800;
        margin: 25px 0;
    }
    .learn__lesson-title{
        font-size: 22px;
    }
    .learn-block{
        align-items: self-start;
    }
    .learn__title, .learn__lesson-title{
        font-size: 20px;
        line-height: 1;
        color: var(--learn);
        font-weight: 600;
        margin: 0;
        padding-bottom: 10px;
    }
}